<!-- Sort pane -->
<div class="travel-pane" [class]="'travel-pane' + (ui_sortPane ? ' travel-pane-visible' : '')">
  <div class="travel-pane-overflow absolute overflow-hidden left-0 right-0 pb2 px2 mxn2">
    <div class="travel-pane-content travel-shadow travel-border border-bottom border-left z1">
      <div class="p1 pr2 mdp2">
        <amp-selector
          class="travel-list-selector"
          layout="container"
          name="sort"
          on="
            select:AMP.setState({
              query_sort: event.targetOption,
              fields_sort: event.targetOption
            })
          "
          [selected]="fields_sort"
        >
          {{#data.sort}}
            <div class="bold" option="{{value}}"{{#selected}} selected{{/selected}}>{{text}}</div>
          {{/data.sort}}
        </amp-selector>
      </div>
    </div>
  </div>
</div>
<!--/ Sort pane -->
