@import '../../core';
@import 'page-vars';

.ampstart-icon {
  fill: var(--color-primary);
}

.ampstart-headerbar {
  color: var(--color-primary);
  background-color: var(--color-white);
  height: var(--narrow-nav-height);
  z-index: var(--z1);
}

.ampstart-navbar-trigger {
  cursor: pointer;
  height: 24px;
  color: var(--color-primary);
}

@media (--breakpoint-md) {
  .ampstart-headerbar {
    height: var(--wide-nav-height);
  }

  .ampstart-headerbar .ampstart-navbar-trigger {
    padding-left: var(--space-1);
  }
}

.ampstart-headerbar-title {
  font-size: var(--h4);
  font-weight: var(--bold-font-weight);
  line-height: normal;
  color: var(--color-secondary);
}

@media (--breakpoint-md) {
  .ampstart-headerbar-title {
    font-size: var(--h3);
  }
}

.ampstart-headerbar-home-link {
  padding-bottom: 0;
  text-indent: -var(--space-2);
  color: var(--color-primary);
}

.ampstart-sidebar {
  background-color: var(--color-white);
  width: var(--sidebar-width);
}

.ampstart-sidebar-header {
  position: relative;
  z-index: var(--z1);
}

.ampstart-sidebar-container {
  position: absolute;
  bottom: var(--space-1);
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: 4rem;
  padding-bottom: var(--space-4);
}

.ampstart-sidebar .ampstart-navbar-trigger {
  margin-top: var(--space-3);
  font-size: var(--space-3);
  color: var(--color-primary);
}

.ampstart-nav {
  margin: var(--space-2) 0 var(--space-4) 0;
}

.ampstart-nav-item {
  color: var(--color-primary);
}

.ampstart-nav-link {
  font-size: var(--h3);
  font-weight: var(--bold-font-weight);
  line-height: normal;
  display: block;
  margin-bottom: var(--space-3);
}

.ampstart-sidebar-faq {
  width: 100%;
  color: var(--color-secondary);
  font-family: var(--font-family-secondary);
  padding-top: var(--space-2);
}

.ampstart-faq-item {
  line-height: normal;
  padding: 0 0 var(--space-1) 0;
}

.ampstart-social-follow {
  justify-content: initial;
  display: inline-block;
}

.ampstart-social-follow li {
  display: inline-block;
}

.ampstart-social-follow li:last-child {
  margin-right: 0;
}

.main {
  margin-top: var(--narrow-nav-height);
}

@media (--breakpoint-md) {
  .main {
    margin-top: calc(var(--wide-nav-height));
  }
}
