@import '../../core';
@import 'page-vars';
@import 'typography';
@import 'elements';
@import '../../../components/inputs/inputs';
@import 'header';
@import '../../../components/hero/hero';

body {
  font-size: var(--narrow-body-font-size);
}

@media (--breakpoint-md) {
  body {
    font-size: var(--wide-body-font-size);
  }
}

main {
  max-width: none;
}
