@import '../../core';
@import 'basscss-responsive-type-scale';
@import 'basscss-responsive-margin';
@import 'basscss-responsive-padding';
@import '../../../components/navbar/navbar';
@import '../../../components/inputs/inputs';
@import '../../../components/social-follow/social-follow';
@import 'page-vars';

body {
  font-size: var(--body-font-size);
  line-height: initial;
}

/* TYPOGRAPHY */
.h3 {
  color: var(--color-primary);
}

.h7 {
  font-size: var(--h7);
}

h1, h2, h3, h4, h5, h6, h7,
.h1, .h2, .h3, .h4, .h5, .h6, .h7 {
  line-height: normal;
  letter-spacing: normal;
  font-family: var(--title-font);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-black);
}

.pr7 {
  padding-right: var(--space-7);
}


/**
 * TODO: BassCSS addon works for space 1 - 4, however we need it for space 5+.
 * this approach should be revised.
 */

.mb5 {
  margin-bottom: var(--space-5);
}

@media (--breakpoint-md) {
  .md-h7 {
    font-size: var(--h7);
  }

  .md-mb7 {
    margin-bottom: var(--space-7);
  }

  .md-px4 {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }

  .md-pt5 {
    padding-top: var(--space-5);
  }

  .md-pl5 {
    padding-left: var(--space-5);
  }

  .md-pt6 {
    padding-top: var(--space-6);
  }

  .md-pl7 {
    padding-left: var(--space-7);
  }

  .md-pr7 {
    padding-right: var(--space-7);
  }

  .md-px7 {
    padding-left: var(--space-7);
    padding-right: var(--space-7);
  }

  .md-pb7 {
    padding-bottom: var(--space-7);
  }
}


/* ELEMENTS */
hr {
  /* Allows separator to be full width outside of main container padding */
  width: calc(100% + 2 * var(--space-3));
  height: 1px;
  background-color: var(--color-separator);
  border: none;
  margin: 0 -var(--space-3);
}

@media (--breakpoint-md) {
  hr {
    width: 100%;
    margin: 0;
  }
}

dd:after {
  content: '';
  display: block;
}

/* TODO: Merge with existing amp-start select component */
.commerce-select-wrapper {
  position: relative;
  padding-right: 13px;
}

.commerce-select-wrapper::after {
  position: absolute;
  right: 0;
  bottom: 8px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--color-primary);
}

.commerce-select {
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  background: none;
}

.ampstart-input-radio {
  display: block;
  margin-bottom: var(--space-1);
}

.ampstart-input label,
.ampstart-input input::placeholder,
.ampstart-input input[type="text"] {
  font-size: var(--h7);
  font-family: var(--title-font);
  color: var(--color-primary);
  font-weight: bold;
  text-transform: uppercase;
}

.ampstart-input > label::after {
  height: 1px;
  background: var(--color-separator);
}

.ampstart-input > input,
.ampstart-input > textarea {
  border-bottom: 1px dashed var(--color-separator);
}


.ampstart-input-radio label {
  font-size: var(--h6);
}

.ampstart-btn {
  display: inline-block;
}

.ampstart-btn-secondary {
  background-color: var(--color-white);
  color: var(--color-primary);
  border-color: var(--color-primary);
  font-size: var(--button-font-size);
  font-family: var(--title-font);
  font-weight: var(--bold-font-weight);
  padding: var(--space-1) var(--space-4);
}

.ampstart-btn-secondary:visited {
  color: var(--color-primary);
}

amp-selector [option] {
  outline: 1px solid var(--color-separator);
}

amp-selector [option][selected] {
  outline-color: var(--color-primary);
}

.amp-carousel-button {
  display: none;
}

.commerce-panel-empty {
  background-color: var(--color-white);
}

.commerce-panel-filled {
  background-color: var(--color-panel);
}
@media (--breakpoint-md) {
  .md-commerce-panel-filled {
    background-color: var(--color-panel);
  }

  .md-commerce-header {
    margin-top: var(--space-3);
    border-top: 1px solid var(--color-separator);
    border-bottom: 1px solid var(--color-separator);
  }
}

.ampstart-pullquote {
  font-size: var(--h2);
  margin: var(--space-3) 0 var(--space-2) 0;
  line-height: 1.2;
  border-left: none;
  padding-left: 0;
}

.commerce-pullquote-author {
  font-family: var(--title-font);
  font-size: var(--h6);
  font-weight: var(--bold-font-weight);
  margin-bottom: var(--space-3);
}

/* Classic Table */
.commerce-table {
  border-collapse: collapse;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  font-family: var(--title-font);
  font-weight: var(--bold-font-weight);
  text-transform: uppercase;
  color: var(--color-primary);
}

.commerce-table-header {
  background: var(--color-black);
  color: var(--color-white);
}

.commerce-table td,
.commerce-table th {
  padding: 0;
  border: 1px solid var(--color-black);
  line-height: var(--space-6);
}

.commerce-table td {
  border: 1px solid var(--color-table-border);
  width: 25%;
  background-color: var(--color-white);
}

.commerce-table td:first-child {
  width: 50%;
}


/* HEADER */
.main {
  overflow: hidden;
  margin-top: var(--navbar-height);
}

@media (--breakpoint-md) {
  .main {
    margin-top: var(--wide-navbar-height);
  }

  .ampstart-headerbar + *:not(amp-sidebar),
  .ampstart-headerbar + amp-sidebar + * {
    margin-top: var(--wide-navbar-height);
  }
}

.ampstart-headerbar {
  color: var(--color-font-accent);
  padding-right: var(--space-2);
  background-color: var(--color-white);
  z-index: var(--z1);
  height: var(--navbar-height);
  box-shadow: none;
}

.ampstart-navbar-trigger {
  position: absolute;
  color: var(--color-primary);
  font-size: var(--h4);
}

@media (--breakpoint-md) {
  .ampstart-headerbar {
    height: var(--wide-navbar-height);
    border-bottom: 1px solid var(--color-separator);
  }
  .ampstart-headerbar .ampstart-navbar-trigger {
    padding: 0;
    margin-left: var(--space-1);
  }
}

.ampstart-headerbar-title {
  font-size: var(--h4);
  font-weight: var(--bold-font-weight);
  line-height: normal;
  color: var(--color-primary);
}

@media (--breakpoint-md) {
  .ampstart-headerbar-title {
    font-size: var(--h3);
  }
}

.ampstart-headerbar-home-link {
  padding-bottom: 0;
  text-indent: -var(--space-2);
}

.ampstart-sidebar {
  background-color: var(--color-white);
  width: var(--sidebar-width);
  margin-bottom: var(--space-3);
  text-align: center;
}

@media (--breakpoint-md) {
  .ampstart-sidebar {
    width: 25%;
  }

  .ampstart-sidebar-nav {
    display: inline-block;
    text-align: center;
  }
}

.ampstart-sidebar-nav-image {
  width: 50%;
  min-width: 150px;
}

.ampstart-sidebar .ampstart-icon {
  fill: var(--color-primary);
}

.ampstart-sidebar-header {
  position: relative;
  z-index: var(--z1);
}

@media (--breakpoint-md) {
  .ampstart-sidebar-header {
    position: absolute;
    top: var(--space-2);
    left: var(--space-4);
  }
}

.ampstart-sidebar .ampstart-navbar-trigger {
  margin-top: var(--space-2);
  font-size: var(--space-3);
  line-height: normal;
  top: 0;
}

.ampstart-nav {
  margin-bottom: var(--space-4);
}

.ampstart-nav a {
  text-decoration: underline;
}

.ampstart-nav-item {
  color: var(--color-primary);
}

.ampstart-sidebar .ampstart-nav-item {
  margin-bottom: var(--space-2);
}

.ampstart-nav-link {
  font-family: var(--title-font);
  font-size: var(--h3);
  font-weight: var(--bold-font-weight);
  line-height: normal;
  display: block;
  margin-bottom: var(--space-3);
}

.ampstart-sidebar .ampstart-faq-item {
  margin: 0;
}

.ampstart-sidebar-faq {
  width: 100%;
  color: var(--color-primary);
  font-family: var(--font-family);
  padding-top: var(--space-2);
}

.ampstart-faq-item {
  line-height: normal;
  padding: 0 0 var(--space-1) 0;
}

.ampstart-sidebar .ampstart-social-follow {
  margin: var(--space-1) 0 var(--space-2) 0;
}

.ampstart-social-follow {
  justify-content: initial;
  display: inline-block;
}

.ampstart-social-follow li {
  display: inline-block;
  margin-right: 0;
}


/* HERO */
.commerce-hero-content {
  padding: calc(var(--space-4) + var(--space-1)) var(--narrow-page-padding);
}

.commerce-hero-content-body {
  padding: var(--space-1) 0 var(--space-2);
  font-family: var(--font-family);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.commerce-hero-content-title {
  font-weight: var(--bold-font-weight);
}

@media (--breakpoint-md) {
  .commerce-hero-content-wrapper {
    position: relative;
    color: var(--color-white);
    text-align: left;
  }

  .commerce-hero-content-title {
    font-size: var(--h1);
    color: var(--color-white);
    font-weight: var(--bold-font-weight);
  }

  .commerce-hero-content-body {
    margin: 0;
  }

  .commerce-hero-content {
    position: absolute;
    top: 0;
    left: var(--space-2);
    width: 500px;
    height: 100%;
  }

  .commerce-hero-content-wrapper .ampstart-btn {
    background-color: var(--color-white);
    border: none;
    color: var(--color-primary);
    font-size: var(--h7);
  }

  .commerce-hero-content-theme-secondary,
  .commerce-hero-content-theme-secondary .commerce-hero-content-title {
    color: var(--color-primary);
  }

  .commerce-hero-content-theme-secondary .ampstart-btn {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}


/* PRODUCT DETAILS */
.icon-star,
.icon-star-empty {
  height: 14px;
  width: 14px;
  color: var(--color-font-accent);
}

.icon-star-empty {
  color: #dadada;
}

.commerce-product-btn-wrapper {
  text-align: center;
}

@media (--breakpoint-md) {
  .commerce-product-btn-wrapper {
    text-align: initial;
  }
}

.commerce-product-color-swatch {
  height: 24px;
  width: 24px;
  margin-left: var(--space-1);
}

.commerce-product-color-swatch:first-child {
  margin-left: 0;
}

.commerce-product-color-white {
  background-color: var(--color-white);
}

.commerce-product-color-green {
  background-color: #243d1e;
}

.commerce-product-thumb {
  width: 43px;
  margin-left: var(--space-1);
}

.commerce-product-thumb:first-child {
  margin-left: 0;
}

@media (--breakpoint-md) {
  .commerce-product-thumb {
    width: 80px;
  }

  .commerce-product-desc {
    margin-right: calc(1/12 * 100%);
  }
}


/* BLOG */
.commerce-blog-wrapper {
  background-color: var(--color-white);
}

@media (--breakpoint-md) {
  .commerce-blog-wrapper {
    padding-left: calc(1/12 * 100%);
  }
}

.commerce-blog p {
  line-height: 1.6;
}


/* PRODUCT LISTING */
.commerce-listing-banner {
  width: 100%;
}

@media (--breakpoint-md) {
  .commerce-listing-wrapper,
  .commerce-contact,
  .commerce-checkout {
    margin-left: calc(1/12 * 100%);
  }
}


/* FOOTER */
.commerce-footer {
  background-color: var(--color-primary);
}

.commerce-footer h3 {
  padding-top: 0;
}

.commerce-footer,
.commerce-footer-header ,
.commerce-footer h3 {
  color: var(--color-white);
}

.commerce-footer hr {
  background-color: #4a4a4a;
}

.commerce-footer .ampstart-icon {
  fill: #6a6a6a;
}

.commerce-footer .ampstart-social-follow {
  margin-bottom: 0;
}

@media (--breakpoint-md) {
  .commerce-footer {
    text-align: initial;
  }

  .commerce-footer .ampstart-social-follow li:first-child a {
    padding-left: 0;
  }
}


/** CHECKOUT */
.commerce-checkout-steps {
  color: #cdcccd;
}


/* CART */
.commerce-cart-icon {
  color: var(--color-font-accent);
}

.commerce-cart-total {
  border-top: 1px solid var(--color-separator);
  border-bottom: 1px solid var(--color-separator);
}

@media (--breakpoint-md) {
  .commerce-cart-item {
    border-bottom: 1px solid var(--color-separator);
  }

  .commerce-cart-button {
    text-align: left;
  }

  .commerce-cart-item-image {
    max-width: 100px;
  }

  .commerce-cart-summary {
    height: calc(100vh - var(--wide-navbar-height));
  }
}


/* RELATED PRODUCTS */
.commerce-related-products {
  border-top: 1px solid var(--color-separator);
}

.commerce-related-product {
  width: 105px;
}
