
/**
 * container
 *
 * A max-width content container (set to the width of the lg breakpoint).
 */

.container {
  max-width: var(--width-lg);
  margin: auto;
}

.container-xl {
  max-width: var(--width-xl);
  margin: auto;
}

/**
 * container-padded
 *
 * A max-width container that uses left and right padding in place of margin
 * auto. Since there is no `max-width` style applied, this container will
 * grow to match its child content width. This behaves as a sort of "greedy"
 * min-width.
 *
 * When this is placed in a horizontal scroll container, the content will be
 * aligned with a regular container at the left and right stops.
 *
 * This element's parent must be the width of the page for the style to behave
 * correctly.
 */
.container-padded {
  display: inline-block;
  min-width: 100vw;
  padding-left: calc((100vw - var(--width-lg)) / 2);
  padding-right: calc((100vw - var(--width-lg)) / 2);
}

.container-padded-xl {
  display: inline-block;
  min-width: 100vw;
  padding-left: calc((100vw - var(--width-xl)) / 2);
  padding-right: calc((100vw - var(--width-xl)) / 2);
}
