.travel-input-group > .travel-input {
  border-right-width: 0;
}

.travel-input-group > button,
.travel-input-group > a {
  border-left-width: 0;
  cursor: pointer;
}

.travel-input-group > a {
  border: var(--border-width) solid transparent;
}

.travel-input-group-sep {
  width: 0;
  height: calc(22 / 16rem);
  border-left-width: var(--border-width);
  border-left-style: solid;
  margin: 0 -0.5px;
  pointer-events: none;
}
