.input-group {
  display: flex;
  width: 100%;
  align-items: center;
}

.input-group > .input,
.input-group > .input-icon {
  flex: 1 1 auto;
  width: 1%;
}

.input-group > .input:focus,
.input-group > .btn:focus {
  position: relative;
}

.input-group > .input:not(:first-child),
.input-group > .input-icon:not(:first-child) > .input,
.input-group > .btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left-width: 0;
}

.input-group > .input:not(:last-child),
.input-group > .input-icon:not(:last-child) > .input,
.input-group > .btn:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right-width: 0;
}

.input-group-sep {
  position: relative;
  z-index: 1;
  display: block;
  width: 0;
  height: calc(22 / 16rem);
  border-left-width: 1px;
  border-left-style: solid;
  margin: 0 -0.5px;
  pointer-events: none;
}

.input-group > .btn:hover {
  transform: none;
  box-shadow: none;
}
