
@media (--breakpoint-md) {
  .md-px1 { padding-left:   var(--space-1); padding-right:  var(--space-1) }
  .md-px2 { padding-left:   var(--space-2); padding-right:  var(--space-2) }
  .md-py2 { padding-top:    var(--space-2); padding-bottom: var(--space-2) }
  .md-pl2 { padding-left:   var(--space-2) }
  .md-pr2 { padding-right:  var(--space-2) }
  .md-pt4 { padding-top:    var(--space-4) }

  .md-mx2 { margin-left:   var(--space-2); margin-right:  var(--space-2) }
}
