<aside class="xs-hide sm-hide md-col-4 md-px4 md-pt6 commerce-blog-sidebar commerce-side-panel">
  <h1 class="h5 md-pb2">The bike shop blog</h1>
  <p class="mb2">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. </p>
  {{#header.navbar}}
    {{> ../../../components/social-follow/social-follow.snip.html}}
  {{/header.navbar}}
</aside>
