{{#articles}}
<article>
  <amp-img class="mb3" src="{{images.0.narrow}}" srcset="{{images.0.narrow}} 750w,{{images.0.wide}} 1280w" width="{{imageWidth}}" height="{{imageHeight}}" layout="responsive" alt="{{title}}"noloading>
    {{> partials/preloader.snip.html}}
  </amp-img>
  <div class="mb3 md-mx0">
    <h2 class="h3">{{title}}</h2>
    <time datetime="{{datetime}}" class="block mb2">{{date}}</time>
    <p class="mb2">{{preview}}</p>
    <a href="blog-article.amp.html" class="commerce-blog-link inline-block h7 md-mb4">read more</a>
  </div>
</article>
{{/articles}}
