{{#cart}}
  <h1 class="{{header.classes}} {{header.spacing-classes}} {{header.responsive-spacing-classes}} {{header.responsive-layout-classes}}">Your Basket</h1>
  {{#items}}
    <div class="commerce-cart-item flex flex-wrap items-center {{cart.item.spacing-classes}} {{cart.item.responsive-spacing-classes}}">
      <div class="col-3 sm-col-2 md-col-2 lg-col-2">
        <amp-img class="commerce-cart-item-image" src="{{thumbnail}}" width="1" height="1" layout="responsive" alt="{{name}}" noloading>
          {{> partials/preloader.snip.html}}
        </amp-img>
      </div>
      <div class="commerce-cart-item-desc px1 col-6 sm-col-7 md-col-7 lg-col-7">
        <div class="h6 mb1">{{name}}</div>
        <div>{{description}}</div>
      </div>
      <div class="commerce-cart-item-price col-3 h6 flex flex-wrap justify-around items-start">
        <span>£{{price}}</span>
        <span>{{quantity}}</span>
        <div role="button" class="inline-block commerce-cart-icon" tabindex="0">✕</div>
      </div>
    </div>
  {{/items}}
{{/cart}}
