{{#cart}}
  <h1 class="{{header.classes}} {{header.spacing-classes}} {{header.responsive-layout-classes}}">Your Basket</h1>
  {{#items}}
    <div class="commerce-cart-item flex flex-wrap {{cart.item.spacing-classes}}">
      <div class="col-2">
        <amp-img class="commerce-cart-item-image" src="{{thumbnail}}" width="1" height="1" layout="responsive" alt="{{name}}"></amp-img>
      </div>
      <div class="px1 col-7">
        <div class="h6 mb1">{{name}}</div>
        <div>{{description}}</div>
      </div>
      <div class="commerce-cart-item-price col-3 h6 flex flex-wrap justify-around items-start">
        <span>£{{price}}</span>
        <span>{{quantity}}</span>
        <div role="button" class="inline-block commerce-cart-icon" tabindex="0">✕</div>
      </div>
    </div>
  {{/items}}
{{/cart}}
