{{#hero}}
<section class="commerce-hero-content-wrapper center overflow-hidden">
  <a href="{{link.url}}" class="text-decoration-none block">
  {{#images}}
    {{#image}}
      <amp-img class="commerce-hero-image" src="{{url}}" width="{{width}}" height="{{height}}" layout="responsive" media="{{media}}" alt="{{alt}}"></amp-img>
    {{/image}}
  {{/images}}
  <div class="commerce-hero-content commerce-hero-content-theme-{{text-theme}} flex justify-center flex-column md-mx-auto md-p0">
    <div class="commerce-hero-align md-mx-auto">
      <h2 class="commerce-hero-content-title h4 md-h1 caps md-mb2 md-pl4">{{title}}</h2>
      <p class="commerce-hero-content-body">{{body}}</p>
      {{#link}}
        <div class="ampstart-btn ampstart-btn-secondary caps md-ml4">{{text}}</div>
      {{/link}}
    </div>
  </div>
  </a>
</section>
{{/hero}}
