{{#related-products}}
<section class="commerce-related-products col-12 px2 md-mt5 md-px4 {{responsive-display-classes}}">
  <div class="col-12 mt3 md-mt4">
    <h2 class="h5 md-h4">You may also like</h2>
    <amp-carousel height="170" layout="fixed-height" type="carousel" class="px4">
      <ul class="list-reset">
        {{#items}}
          <li class="commerce-related-product inline-block mr2">
            <a href="product-details.amp.html" class="text-decoration-none">
              <amp-img class="mb2" src="{{image}}" width="1" height="1" layout="responsive" alt="{{name}}"></amp-img>
              <h2 class="h6">{{name}}</h2>
            </a>
          </li>
        {{/items}}
      </ul>
    </amp-carousel>
  </div>
</section>
{{/related-products}}
