

on="
  tap:AMP.setState({
    ui_reset: false,
    ui_filterPane: false,
    query_query: fields_query,
    fields_query_edited: false,
    query_departure: fields_departure,
    fields_departure_edited: false,
    query_return: fields_return,
    fields_return_edited: false,
    query_maxPrice: fields_maxPrice,
    fields_maxPrice_edited: false,
    query_city: fields_city,
    fields_city_edited: false,
    query_type: fields_type,
    fields_type_edited: false,
    query_sort: fields_sort,
    fields_sort_edited: false
  })
"
