.travel-results-navbar {
  margin-top: -4rem;
  margin-right: -4rem;
  margin-left: -4rem;
  background-color: var(--color-purple);
  color: var(--color-white);
  animation: fade-and-slideup 0.4s ease-in-out both;
}

.travel-results-navbar-icon {
  line-height: 1;
}

.travel-results-navbar-subheading {
  letter-spacing: .2em;
}

@media (--breakpoint-md) {
  .travel-results-navbar-icon {
    line-height: inherit;
  }
}
