/* //////////////////////////////////////////////////////
   ACCORDION
///////////////////////////////////////////////////////*/

amp-accordion section[expanded] .show-more {
  display: none;
}
amp-accordion section:not([expanded]) .show-less {
  display: none;
}
amp-accordion h4 {
  background: none;
}