@import "../page-vars";

/* To be used in comination with ampstart buttons */
.lune-cta {
  display: inline-block;

  padding: 1.2em 1.6em;

  min-width: 14em;

  font-weight: 700;
  font-size: var(--cta-font-size-m);

  letter-spacing: var(--hotspot-letter-spacing);

  text-transform: uppercase;

  background: transparent;
}

.lune-cta,
.lune-cta:active,
.lune-cta:focus,
.lune-cta:hover,
.lune-cta:visited {
  border-color: inherit;
  color: inherit;
}

@media (--breakpoint-mt) {
  .lune-cta {
    padding: 15px 70px;

    font-size: var(--cta-font-size-d);
  }
}