@import "../page-vars";

/*
 * To be used in comination with 'ampstart-btn ampstart-btn-secondary caps
 * center bold ls-26' classes
 */
.lune-cta {
  display: inline-block;

  padding: 1.2em 1.6em;

  min-width: 14em;

  font-size: .75rem; /* 12px */

  text-transform: uppercase;

  background: transparent;
}

.lune-cta,
.lune-cta:active,
.lune-cta:focus,
.lune-cta:hover,
.lune-cta:visited {
  border-color: inherit;
  color: inherit;
}

@media (--breakpoint-mt) {
  .lune-cta {
    padding: 1.36em 4.5em;

    font-size: .6875rem; /* 11px */
  }
}