.ampstart-headerbar {
  justify-content: space-between;
  /* Override ampstart default box shadow styles */
  box-shadow: none;
  /* header is fixed so should be moved onto a new GPU layer */
  will-change: transform;
  height: var(--navbar-height);
  /* In order to have the title perfectly centered, the navbar needs to have identical values for padding left and right */
  padding: 0 var(--space-2);
}

.ampstart-headerbar-title {
  font-size: var(--h4);
  font-weight: var(--font-weight-heavy);
  letter-spacing: var(--letter-spacing-4);
  line-height: var(--line-height-1);
  /* Using same indent as the letter spacing to make the text properly centered. */
  text-indent: var(--letter-spacing-4);
}

.ampstart-navbar-trigger {
  padding-left: var(--space-1);
  font-size: var(--h4);
}

.ampstart-headerbar-fixed {
  justify-content: flex-end;
}

.lune-noir .ampstart-headerbar {
  background: var(--color-background-dark);
  color: var(--color-light-1);
}

@media (--breakpoint-mt) {
  .ampstart-navbar-trigger {
    padding-left: var(--space-3);
  }

  .ampstart-headerbar {
    height: var(--wide-navbar-height);
  }

  /*
   * Override styles based on --navbar-height with the
   * responsive value for wide screens
   */
  .ampstart-headerbar + *:not(amp-sidebar),
  .ampstart-headerbar + amp-sidebar + * {
    margin-top: var(--wide-navbar-height);
  }

  .ampstart-headerbar-nav,
  .ampstart-navbar-trigger {
    line-height: var(--wide-navbar-height);
  }

  .ampstart-sidebar-header {
    line-height: var(--wide-navbar-height);
    min-height: var(--wide-navbar-height);
  }
}
