@import "../page-vars";

.lune .ampstart-headerbar {
  height: var(--layout-header-height-m);

  box-shadow: none;

  will-change: transform;
}

.lune .ampstart-headerbar-title {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 1.3125rem; /* 21px */
  font-weight: var(--font-weight-black);

  letter-spacing: .52em;
  line-height: 1em;

  /* Using same indent as the letter spacing to make the text properly centered. */
  text-indent: .52em;

  transform: translate(-50%, -50%);
}

.lune .ampstart-navbar-trigger {
  padding-left: 5px;

  font-size: 40px;
}

@media (--breakpoint-mt) {

  .lune .ampstart-navbar-trigger {
    padding-left: 20px;
  }

  .lune .ampstart-headerbar {
    height: var(--layout-header-height-d);
  }
}

/* Remove the default margin top from amp-sidebar and navbar */
.lune .ampstart-headerbar+:not(amp-sidebar),
.lune .ampstart-headerbar+amp-sidebar+* {
  margin-top: 0;
}

.lune-page[id="noir"]:target ~ .ampstart-headerbar {
  background-color: var(--color-bg-dark-m);
  color: var(--color-light-1);
}

@media (--breakpoint-mt) {
  .lune-page[id="noir"]:target ~ .ampstart-headerbar {
    background-color: var(--color-bg-dark-d);
  }
}