@import "../page-vars";

.ampstart-headerbar {
  justify-content: space-between;
  height: var(--layout-header-height-narrow);
  /* Override ampstart default box shadow styles */
  box-shadow: none;
  /* header is fixed so should be moved onto a new GPU layer */
  will-change: transform;
}

.ampstart-headerbar-title {
  font-size: var(--h4);
  font-weight: var(--font-weight-heavy);
  letter-spacing: var(--letter-spacing-4);
  line-height: var(--line-height-1);
  /* Using same indent as the letter spacing to make the text properly centered. */
  text-indent: var(--letter-spacing-4);
}

.ampstart-navbar-trigger {
  padding-left: var(--space-1);
  font-size: var(--h3);
}

.ampstart-headerbar-fixed {
  justify-content: flex-end;
}

@media (--breakpoint-mt) {
  .ampstart-navbar-trigger {
    padding-left: var(--space-3);
  }

  .ampstart-headerbar {
    height: var(--layout-header-height-wide);
  }
}

/* Remove the default margin top from amp-sidebar and navbar */
.ampstart-headerbar+:not(amp-sidebar),
.ampstart-headerbar+amp-sidebar+* {
  margin-top: 0;
}