@import "../page-vars";

.ampstart-headerbar {
  display: flex;
  align-items: center;

  height: var(--layout-header-height-m);

  box-shadow: none;

  will-change: transform;
}

.ampstart-headerbar-title {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 1.3125rem; /* 21px */
  font-weight: var(--font-weight-black);

  letter-spacing: .52em;
  line-height: 1em;

  /* Using same indent as the letter spacing to make the text properly centered. */
  text-indent: .52em;

  transform: translate(-50%, -50%);
}

.ampstart-navbar-trigger {
  padding-left: 0.3125rem; /* 5px */

  font-size: 2.5rem; /* 40px */
}

@media (--breakpoint-mt) {
  .ampstart-navbar-trigger {
    padding-left: 1.25rem; /* 40px */
  }

  .ampstart-headerbar {
    height: var(--layout-header-height-d);
  }
}

/* Remove the default margin top from amp-sidebar and navbar */
.ampstart-headerbar+:not(amp-sidebar),
.ampstart-headerbar+amp-sidebar+* {
  margin-top: 0;
}