/* //////////////////////////////////////////////////////
  LINE AFTER COMPONENT
///////////////////////////////////////////////////////*/

/* To be used in conjunction with bass css 'flex items-center' classes */
.lune-line-after::after {
  display: inline-block;
  flex-grow: 1;
  height: 2px;
  margin-left: 0.75rem;
  background: currentColor;
  content: '';
}