:root {
  --lune-placeholder-size: 2.5rem; /* 40px */
}

.lune-placeholder-loader {
  top: 50%;
  left: 50%;
  width: calc(var(--lune-placeholder-size) - 2px);
  height: calc(var(--lune-placeholder-size) - 2px);
  margin: calc(var(--lune-placeholder-size) / -2) 0 0 calc(var(--lune-placeholder-size) / -2);
  border-radius: 50%;
  box-shadow: 0 0 0 calc(var(--lune-placeholder-size) / 6) currentColor;
}

.lune-placeholder-loader::before,
.lune-placeholder-loader::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  margin: calc(var(--lune-placeholder-size) / -2) 0 0 calc(var(--lune-placeholder-size) / -2);
  width: var(--lune-placeholder-size);
  height: var(--lune-placeholder-size);
  border-radius: 50%;
  background: currentColor;
  z-index: var(--z2);
}

.lune-placeholder-loader::before {
  background-color: inherit;
  animation: lune-anim-placeholder-expand 1.6s ease-out infinite both;
}

.lune-placeholder-loader::after {
  background-color: currentColor;
  animation: lune-anim-placeholder-expand 1.6s ease-out .8s infinite both;
}

.lune-placeholder-loader span {
  background-color: currentColor;
  border-radius: 50%;
  animation: lune-anim-placeholder-bg-change 1.6s ease-out infinite both;
}

@keyframes lune-anim-placeholder-expand {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  50.1% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes lune-anim-placeholder-bg-change {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  50.1% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
