/* //////////////////////////////////////////////////////
   PRODUCT TOGGLE
///////////////////////////////////////////////////////*/

.lune-product-toggle {
  width: 3.125rem; /* 50px */
  height: 3.125rem; /* 50px */
  border-radius: 50%;
  box-shadow: 0 3px 12px -3px rgba(0, 0, 0, .5);
  letter-spacing: var(--letter-spacing-3);
}

@media (--breakpoint-md) {
  .lune-product-toggle {
    /*
    * Bespoke margin in order to aligh the text at the same height
    * as the scoll indicator text in the page
    */
    margin-bottom: 1.3125rem; /* 21px */
    margin-right: 1.3125rem; /* 21px */
  }
}

.lune-product-toggle.lune-theme-dark {
  background-color: var(--color-dark-grey);
  box-shadow: 0 3px 12px -3px rgba(0, 0, 0, 1);
}

.lune-product-toggle span {
  position: absolute;
  right: calc(100% + 1rem);
  width: 14em;
  text-align: right;
}

.lune-product-toggle::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  transform-origin: 50%;
  transform: scale(.5);
  transition: transform .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  content: '';
  background-color: currentColor;
}

.lune-product-toggle:hover::after,
.lune-product-toggle:focus::after {
  transform: scale(.7);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
