/* //////////////////////////////////////////////////////
   SCROLL INDICATOR
///////////////////////////////////////////////////////*/

.lune-component-scroll-indicator {
  letter-spacing: var(--letter-spacing-3);
  text-indent: var(--letter-spacing-3);
  color: inherit;
}

.lune-component-scroll-indicator::after {
  width: .125rem;
  height: 2.1874rem;
  background: currentColor;
  transform-origin: center bottom;
  animation: animate-scroll-line 5s ease-out infinite;
  content: '';
}

@keyframes animate-scroll-line {
  0% {
    transform: scaleY(0);
  }

  20% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(1);
  }
}

