/* //////////////////////////////////////////////////////
   SCROLL INDICATOR
///////////////////////////////////////////////////////*/

.lune-component-scroll-indicator {
  letter-spacing: var(--letter-spacing-3);
  text-indent: var(--letter-spacing-3);
  color: inherit;
}

.lune-component-scroll-indicator::after {
  display: block;
  width: .065rem;
  height: 2.1874rem;
  background: currentColor;
  transform-origin: center top;
  animation: animate-scroll-line 8s calc(var(--animation-delay-start) * 4) ease-in-out infinite both;
  will-change: transform;
  content: '';
}

.lune-component-scroll-indicator p {
  display: block;
  animation: animate-scroll-text 8s calc(var(--animation-delay-start) * 4) ease-in-out infinite both;
  will-change: transform;
}


@keyframes animate-scroll-line {
  0%, 2% {
    transform-origin: center top;
    transform: scale3d(1, 0, 1) translate3d(0, -20px, 0);
  }

  2.5% {
    transform: scale3d(1, .5, 1) translate3d(0, 0, 0);
  }

  5% {
    transform-origin: center top;
    transform: scale3d(1, 1, 1);
  }
  5.1% {
    transform-origin: center bottom;
  }

  75% {
    transform: scale3d(1, 1, 1);
  }

  78%, 80% {
    transform: scale3d(1, 0, 1);
  }

  99.9% {
    transform-origin: center bottom;
  }
  100% {
    transform-origin: center top;
    transform: scale3d(1, 0, 1);
  }
}

@keyframes animate-scroll-text {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  5% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  9%, 78% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  81%, 100% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
}
