@import "../page-vars";

.ampstart-sidebar {
  width: 80vw;
  display: flex;
  align-items: center;
}

/* On large device the width should be set to 50vw */
@media (--breakpoint-lg) {
  .ampstart-sidebar {
    width: 60vw;
  }
}

/* Position the close button at the top of the sidebar */
/* Make it the same height as the header in order to align the close and hamburger icons */
.ampstart-sidebar-header {
  position: absolute;
  top: 0;
  height: var(--layout-header-height-mobile);
}

@media (--breakpoint-mt) {
  .ampstart-sidebar-header {
    height: var(--layout-header-height-desktop);
  }
}

.ampstart-sidebar-nav {
  width: 100%;
  margin: auto;
}

.ampstart-sidebar .ampstart-nav-item {
  display: block;
  width: 80%;
  max-width: 7.5em;
  margin: auto;
  font-size: var(--h4);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-5);
  text-transform: uppercase;
}

.ampstart-nav-link {
  position: relative;
  display: flex;
  justify-content: space-between;
}

/* Strikethrough effect on hover */
.ampstart-nav-link::before {
  position: absolute;
  top: calc(50% - .05em);
  left: -.2em;
  right: -.2em;
  height: .1em;
  content: '';
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .2s ease;
}

.ampstart-nav-link:hover::before,
.ampstart-nav-link:focus::before {
  transform: none;
}

.ampstart-nav-item:last-child .ampstart-nav-link {
  font-size: var(--h5);
  letter-spacing: var(--letter-spacing-2);
  text-decoration: underline;
  text-transform: lowercase;
}

@media (--breakpoint-md) {
  .ampstart-sidebar .ampstart-nav-item {
    font-size: var(--h2);
  }

  /* Hide the contact email on desktop resolutions */
  .ampstart-nav-item:last-child {
    display: none;
  }
}