.ampstart-sidebar {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Position the close button at the top of the sidebar */
/* Make it the same height as the header in order to align the close and hamburger icons */
.ampstart-sidebar-header {
  position: absolute;
  top: 0;
  left: var(--space-3);
  height: var(--navbar-height);
}

@media (--breakpoint-mt) {
  .ampstart-sidebar-header {
    height: var(--wide-navbar-height);
  }
}

.ampstart-sidebar-nav {
  width: 100%;
  margin: auto;
}

.ampstart-navbar-trigger {
  /* Makes the clickable area around the close button bigger and easier to hit */
  padding: 1.5rem;
  transition: transform .25s ease-out;
}

.ampstart-sidebar .ampstart-navbar-trigger {
  line-height: var(--line-height-1);
}

.ampstart-sidebar .ampstart-navbar-trigger:hover,
.ampstart-sidebar .ampstart-navbar-trigger:focus {
  transform: rotate(180deg);
  transition-timing-function: ease-in;
}

.ampstart-navbar-trigger:focus svg,
.ampstart-sidebar .ampstart-navbar-trigger:focus {
  background-color: var(--color-light-2);
}

.ampstart-sidebar .ampstart-nav-item {
  max-width: 7.5em;
  margin: auto;
  font-weight: var(--font-weight-heavy);
  line-height: var(--line-height-5);
  color: var(--color-font-primary);
}

.ampstart-sidebar .lune-nav-contact {
  max-width: 10.625rem;
  letter-spacing: var(--letter-spacing-3);
}

.ampstart-nav-link {
  position: relative;
  display: flex;
}

/*
 * Using margin: auto instead of justify-items: space-between, see
 * https://stackoverflow.com/questions/36006173/exclude-element-with-fixed-positioning-from-justify-content-in-flex-layout/36102124#36102124
 */
.ampstart-nav-link > span {
  margin: auto;
}

.ampstart-nav-link > span:first-child {
  margin-left: 0;
}

.ampstart-nav-link > span:last-child {
  margin-right: 0;
}

.ampstart-sidebar .lune-nav-contact .ampstart-nav-link {
  display: inline-block;
  text-transform: lowercase;
}
