/*
 * Strikethrough effect on hover.
 * The element needs to have `position: relative/absolute`
 */
.lune-underline-strike::before {
  position: absolute;
  bottom: calc(.5em - 4px);
  left: 0;
  right: 0;
  height: .1em;
  min-height: 2px;
  content: '';
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .3s ease;
}

.lune-underline-strike:hover::before,
.lune-underline-strike:focus::before {
  transform: none;
}
