<!-- Filters -->
<div
  class="travel-filters clearfix mxn2"
  [class]="'travel-filters clearfix mxn2' + (ui_reset ? ' travel-filters-reset' : '')"
>
  <div class="col col-12 md-col-4 px2 py1">
    <div class="travel-filters-text h5 mb1 caps">max price</div>
    {{> ./price-range.snip.html}}
    <div class="travel-filters-text h3 line-height-3">
      <amp-list
        class="travel-inline-list"
        layout="flex-item"
        {{> ../util/amp-list-props.snip.html}}
      >
        <template type="amp-mustache">
          {{=[[ ]]=}}
          Average Price for activites in {{stats.location}} is between ${{stats.price.average.min}} and ${{stats.price.average.max}}.
          [[={{ }}=]]
        </template>
      </amp-list>
    </div>
  </div>
  <div class="col col-12 md-col-5 px2 py1">
    <div class="travel-filters-text h5 mb2 caps">type</div>
    {{> ./type-selector.snip.html}}
  </div>
  <div class="col col-12 md-col-3 px2 py1">
    <div class="travel-filters-text h5 mb2 caps">city</div>
    {{> ./city-selector.snip.html}}
  </div>
</div>
<!--/ Filters -->
