<section class="relative z2">
  <header class="absolute top-0 right-0 left-0">
    <!-- XS Breakpoint Navbar -->
    <div class="sm-hide md-hide lg-hide px1 py1 flex justify-center items-center">
      <a href="travel.amp" class="inline-block h2 line-height-1 white pointer circle focus">
        {{> ../icon/logo.snip.html}}
      </a>
    </div>

    <!-- MD Breakpoint Navbar -->
    <div class="xs-hide px1 md-px2 py1 md-py2 flex justify-between items-center">
      <a href="travel.amp" class="inline-block h2 line-height-1 white pointer circle focus">
        {{> ../icon/logo.snip.html}}
      </a>
    </div>
  </header>
</section>
