/* //////////////////////////////////////////////////////
   LANDING PAGE
///////////////////////////////////////////////////////*/

@import "../page-vars";

:root {
  --lune-landing-title-offset-common: -0.26em; /* matches the letter-spacing */
  --lune-landing-title-offset-horizontal-narrow: -6%;
  --lune-landing-title-offset-horizontal-tablet: -32%;
  --lune-landing-title-offset-horizontal-wide: -38%;

  --lune-landing-page-height: 100vh;
  --lune-landing-page-min-height: 37.5rem;

  @custom-media --breakpoint-landing-min-height (max-height: 37.4375rem); /* 720px */
}


/*******************************************************************************
 * Tweaking the delay for the entering animations defined in _pages.css
 ******************************************************************************/
.lune-landing-title-small {
  animation-delay: calc(var(--lune-landing-anim-delay-start) +
      var(--lune-landing-anim-delay-step));
}

.lune-landing-title-big-bottom-right {
  animation-delay: calc(var(--lune-landing-anim-delay-start) +
      2 * var(--lune-landing-anim-delay-step));
}

.lune-page-landing .lune-component-cta {
  animation-delay: calc(var(--lune-landing-anim-delay-start) +
      3 * var(--lune-landing-anim-delay-step));
}

/*******************************************************************************
 * Layout & typography
 ******************************************************************************/
.lune-page-landing {
  padding-top: 0;

  height: calc(2 * var(--lune-landing-page-height));
}

.lune-landing-section {
  height: var(--lune-landing-page-height);
  min-height: var(--lune-landing-page-min-height);
}

.lune-landing-wrapper {
  top: var(--layout-header-height-narrow);
}

.lune-clippath-wrapper {
  height: 0;
  width: 0;
}

/* Only implement this visual improvement if clip-path exists */
@supports (clip-path: inset(1px 0)) {
  .lune-landing-section.lune-theme-light {
    clip-path: url(#svgPath);
    height: 102vh;
  }

  .lune-landing-wrapper {
    position: fixed;
  }
}

.lune-page-landing .lune-component-cta {
  min-width: 16rem;
}

/*
 * Swtich back to relative position and auto height when there is not enough
 * estate in the viewport for a section to be fully displayed.
 */
@media (--lune-breakpoint-landing-min-height) {
  .lune-page-landing {
    height: auto;
  }

  .lune-landing-section.lune-theme-dark {
    position: relative;
  }
}

.lune-landing-content {
  flex: 1 0 auto;
  width: 60vmin;
  min-width: 17.5rem;
  max-width: 28.125rem;
  margin-bottom: 2rem;
}

.lune-landing-image-wrapper {
  top: calc(50% + 1rem);
}

.lune-landing-title-big-top-left {
  left: calc(var(--lune-landing-title-offset-common) +
      var(--lune-landing-title-offset-horizontal-narrow));
  top: 4%;
  z-index: var(--z1);
}

.lune-landing-title-big-bottom-right {
  right: calc(var(--lune-landing-title-offset-common) +
      var(--lune-landing-title-offset-horizontal-narrow));
  top: 64%;
}

.lune-landing-title-small {
  top: 39%;
  left: var(--lune-landing-title-offset-horizontal-narrow);
  right: var(--lune-landing-title-offset-horizontal-narrow);
}

@media (--breakpoint-mt) {
  .lune-landing-wrapper {
    top: var(--layout-header-height-wide);
  }

  .lune-landing-content {
    margin-bottom: 4rem;
  }

  .lune-landing-title-big-top-left {
    left: calc(var(--lune-landing-title-offset-common) +
        var(--lune-landing-title-offset-horizontal-tablet));
    z-index: initial;
  }

  .lune-landing-title-big-bottom-right {
    right: calc(var(--lune-landing-title-offset-common) +
        var(--lune-landing-title-offset-horizontal-tablet));
  }
}

@media (--breakpoint-md) {
  .lune-landing-title-big-top-left {
    left: calc(var(--lune-landing-title-offset-common) +
        var(--lune-landing-title-offset-horizontal-wide));
  }

  .lune-landing-title-big-bottom-right {
    right: calc(var(--lune-landing-title-offset-common) +
        var(--lune-landing-title-offset-horizontal-wide));
  }
}
