/* //////////////////////////////////////////////////////
   LANDING PAGE
///////////////////////////////////////////////////////*/

:root {
  --lune-landing-title-offset-horizontal-narrow: -6%;
  --lune-landing-title-offset-horizontal-tablet: 3.3em;

  --lune-landing-page-height: 100vh;
  --lune-landing-page-min-height: 28.75rem; /* 460px */
}


/*******************************************************************************
 * Tweaking the delay for the entering animations defined in _pages.css
 ******************************************************************************/
.lune-landing-title-middle {
  animation-delay: calc(var(--animation-delay-start) + var(--animation-delay-step));
}

.lune-landing-title-bottom {
  animation-delay: calc(var(--animation-delay-start) + 2 * var(--animation-delay-step));
}

.lune-page-landing .ampstart-btn {
  animation-delay: calc(var(--animation-delay-start) + 3 * var(--animation-delay-step));
}

/*******************************************************************************
 * Layout & typography
 ******************************************************************************/
.lune-page-landing {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.lune-landing-page-wrapper {
  height: auto;
}

.lune-landing-section {
  height: var(--lune-landing-page-height);
  min-height: var(--lune-landing-page-min-height);
  /* Required to get the overflow:scroll on .lune-page-landing working */
  pointer-events: none;
}

/* As a consequence of setting pointer-events: none, to make CTA tappable/hoverable */
.lune-page-landing .ampstart-btn {
  pointer-events: all;
}

/*
 * This pseudo-element is used to space evenly the rest of the content in the page,
 * in combination with the `justify-between` and `flex-column` classes applied on it container
 */
.lune-landing-section-wrapper::before {
  content: '';
  position: relative;
  width: 100%;
  height: 1px;
}

/*
 * Because amp-img can't be resized in a responsive way through changing its height,
 * we can achieve a similar behaviour by setting the width/max-width of its container
 * in units that depend on the viewport height.
 */
 .lune-landing-content {
  /* vmin ensures that both viewport width and height limit the content size. */
  width: 60vmin;
  min-width: 15rem;
  max-width: 50vh;
}

.lune-page-landing .ampstart-btn {
  min-width: 16rem;
}

.lune-landing-title-top {
  left: calc(var(--lune-landing-title-offset-horizontal-narrow) - var(--letter-spacing-3));
  top: 0%;
  font-size: var(--h0);
  letter-spacing: var(--letter-spacing-3);
  text-indent: var(--letter-spacing-3);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-heavy);
}

.lune-landing-title-bottom {
  right: calc(var(--lune-landing-title-offset-horizontal-narrow) - var(--letter-spacing-3));
  top: 52%;
  font-size: var(--h0);
  letter-spacing: var(--letter-spacing-3);
  text-indent: var(--letter-spacing-3);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-heavy);
}

.lune-landing-title-middle {
  top: 28%;
  left: var(--lune-landing-title-offset-horizontal-narrow);
  right: var(--lune-landing-title-offset-horizontal-narrow);
  font-weight: var(--font-weight-heavy);
}

/*
 * visibilty:hidden makes sure that the scroll indicator still pushes the
 * content of the page up even if it's not visible.
 */
.lune-landing-section.lune-theme-dark .lune-component-scroll-indicator {
  visibility: hidden;
}

/*
 * When there is enough estate in the viewport, set a fixed height for the page
 * and fixed position on the lower section, in order to achieve a "reveal" effect.
 * Threshold is 600px, same as --lune-landing-page-height.
 */
@media (min-height: 28.75rem) {
  .lune-landing-page-wrapper {
    height: calc(2 * var(--lune-landing-page-height));
  }

  /*
   * This pseudo element is used as a background for the Noir section as a fix.
   * The bug is caused by the Noir section that, being `position: fixed`, would
   * overlap the scrollbar in most browsers with its background-color. We can't
   * set a negative z-index on the Noir section either, as it would prevent pointer
   * events from working on the CTA button.
   * The fix is to set the background-color for the Noir section to transparent
   * and use this pseudo element instead.
   */
  .lune-landing-page-wrapper::after {
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    content: '';
    background-color: var(--color-background-dark);
  }

  /* See the comment just above */
  .lune-landing-section.lune-theme-dark {
    position: fixed;
    background-color: transparent;
  }

  .lune-landing-section.lune-theme-light {
    position: absolute;
  }

  .lune-landing-title-middle {
    top: 32%;
  }

  .lune-landing-title-bottom {
    top: 56%;
  }

  /*
   * Only apply this enhancement if clip-path is supported
   * and the viewport is high enough.
   */
  @supports (clip-path: inset(1px 0)) {
    .lune-landing-section.lune-theme-light {
      /*
       * Using the old clip spec too, as it works better in some browser.
       * Requires the element to have position:absolute.
       */
      clip: rect(0 auto auto 0);
      clip-path: url(#svgClipPath);
      /*
       * We need the height to be a bit more than its normal value (hence the 0.99 factor),
       * as the clip-path mask can't clip the entire surface. See the "height" attribute
       * of the #svgClipPath in lune.amp.html
       */
      height: calc(var(--lune-landing-page-height) / 0.99);
    }

    .lune-landing-section-wrapper {
      position: fixed;
    }
  }
}

@media (--breakpoint-mt) {
  .lune-landing-title-top {
    left: calc(50% - var(--lune-landing-title-offset-horizontal-tablet));
    z-index: initial;
  }

  .lune-landing-title-bottom {
    right: calc(50% - var(--lune-landing-title-offset-horizontal-tablet));
  }
}

@media (--breakpoint-md) {
  .lune-landing-title-top {
    font-size: var(--h00);
  }

  .lune-landing-title-bottom {
    font-size: var(--h00);
  }
}
