/* //////////////////////////////////////////////////////
   OVERLAYS
///////////////////////////////////////////////////////*/

.lune-overlay {
  color: var(--color-font-primary);
}

.lune-overlay-close {
  top: var(--navbar-height);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: var(--h4);
  min-width: 0;
  font-weight: 100;
  letter-spacing: 0;
  font-size: var(--h6);
  padding: 0;
}

@media (--breakpoint-mt) {
  .lune-overlay-close {
    top: var(--wide-navbar-height);
  }
}

.lune-overlay-hero {
  height: calc(100vh - (var(--navbar-height)));
}

.lune-overlay-hero::after {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: var(--space-2);
  background: var(--color-light-1);
  content: '';
}

.lune-overlay-hero-image {
  top: 50%;
  /* lune-overlay-hero max width / height * 100 */
  max-width: 1035px;
  transform: translateY(-50%);
  background: var(--color-overlay-oak);
}

.lune-overlay-poly .lune-overlay-hero-image {
  max-width: 1633px;
  background: var(--color-overlay-polypropylene);
}

.lune-overlay-hero-title {
  letter-spacing: var(--letter-spacing-4);
  text-indent: calc(var(--letter-spacing-4) / 2);
  font-weight: var(--font-weight-heavy);
  line-height: var(--line-height-3);
  color: var(--color-font-primary);
  animation-delay: calc(var(--animation-delay-start) + var(--animation-delay-step));
}

.lune-overlay .ampstart-btn {
  animation-delay: calc(var(--animation-delay-start) + 3 * var(--animation-delay-step));
}

@media (--breakpoint-mt) {
  .lune-overlay-hero {
    height: 76vw;
    max-height: calc(100vh - var(--wide-navbar-height));
    background: var(--color-overlay-oak);
  }

  .lune-overlay-poly .lune-overlay-hero {
    height: 61vw;
    background: var(--color-overlay-polypropylene);
  }

  .lune-overlay-hero::after {
    content: none;
  }

  .lune-overlay-hero-image {
    right: 15%;
    left: auto;
  }

  .lune-overlay-poly .lune-overlay-hero-image {
    left: 15%;
    right: auto;
  }
}

@media (--breakpoint-lg) {
  .lune-overlay-hero-image {
    right: auto;
    left: 0;
  }

  .lune-overlay-poly .lune-overlay-hero-image {
    right: 0;
    left: auto;
  }
}

/* //////////////////////////////////////////////////////
   CONTENT
///////////////////////////////////////////////////////*/

.lune-overlay-content {
  margin-top: 100px;
}

.lune-overlay-copy-title {
  line-height: var(--line-height-3);
  font-weight: var(--font-weight-heavy);
  letter-spacing: var(--letter-spacing-3);
  word-wrap: break-word;
  color: var(--color-font-primary);
  margin-top: -30%;
}

.lune-overlay-copy-subtitle {
  font-weight: var(--font-weight-heavy);
}

.lune-split-title-mobile {
  display: block;
}

.lune-split-title-mobile::after {
  content: '-';
}


@media (--breakpoint-mt) {
  .lune-overlay-copy-title {
    margin-top: -10%;
  }
}

@media (--breakpoint-md) {
  .lune-overlay-content {
    flex-flow: row;
  }

  .lune-overlay-content:nth-child(even) {
    flex-flow: row-reverse;
  }

  .lune-overlay-copy {
    flex-grow: 1;
  }

  .lune-overlay-copy-title {
    width: calc(5 / 3 * 100%); /* Title is 5 cols, while container is only 3 cols */
    margin-top: 0;
  }

  .lune-overlay-content-image {
    transform: translateX(calc(- 1/12 * 100%)); /* Half a column */
  }

  .lune-split-title-mobile {
    display: inline;
  }

  .lune-split-title-mobile::after {
    content: none;
  }

  .lune-split-title-desktop {
    display: block;
  }

  .lune-split-title-desktop::after {
    content: '-';
  }
}