/* //////////////////////////////////////////////////////
   PRODUCT
///////////////////////////////////////////////////////*/

:root {
  --hero-title-min-height: 238px;
}

.lune-product-section-hero {
  min-height: calc(100vh - var(--navbar-height));
}

/* Set medium resolution make each section a minimum height of 100vh */
@media (--breakpoint-mt) {
  .lune-product-section {
    min-height: calc(100vh - var(--wide-navbar-height));
  }
}

/* On some titles the titles are split on multiple lines. Apply a hyphen at the end. */
.lune-title-has-mobile-hyphen:after {
  content: '-';
}

.lune-page-product {
  background: inherit;
}

/*
  The product background will start at 100vh, and continue to the bottom of the page.
  It sits behind the main content, but in front of the scroll indicator. This allows
  the scroll indiciator to be hidden when scrolling beyond 100vh. */
.lune-background {
  top: 100vh;
  background: inherit;
  z-index: 0;
}

.lune-page-product .lune-scroll-indicator {
  z-index: 0;
}

/* //////////////////////////////////////////////////////
   HERO
///////////////////////////////////////////////////////*/

.lune-hero-content {
  margin-top: -var(--navbar-height);
  min-height: 390px;
}

.lune-hero-image-wrapper {
  width: 100vmin;
  min-width: 15rem;
  max-width: 60vh;
}

.lune-hero-image {
  margin-top: -0.5em;
  max-width: 21.125rem; /* 338px */
}

.lune-product-title {
  min-height: var(--hero-title-min-height);
  margin-bottom: -2.1em;
  letter-spacing: var(--letter-spacing-3);
  text-indent: var(--letter-spacing-3);
  line-height: var(--line-height-2);
  font-size: var(--h0);
  font-weight: var(--font-weight-heavy);
}

.lune-product-title span {
  text-indent: 0;
  animation-delay: calc(var(--animation-delay-start) * 2);
}

@media (--breakpoint-sm) {
  .lune-product-title {
    font-size: var(--h00);
  }
}

@media (--breakpoint-md) {
  .lune-hero-content {
    justify-content: flex-start;
    margin-top: 0;
  }

  .lune-product-title {
    font-size: 11.25rem; /* 180px */
  }

  .lune-product-title span {
    display: inline;
  }

  .lune-title-has-mobile-hyphen:after {
    content: none;
    text-indent: inherit;
  }

  @media (--breakpoint-vld) {
    .lune-product-title span {
      letter-spacing: var(--letter-spacing-5);
    }

    .lune-product-title span:first-child {
      text-indent: var(--letter-spacing-5);
    }
  }

  /* On desktop the chair should be fixed to the viewport */
  .lune-page-product .lune-hero-image-wrapper {
    position: fixed;
    top: calc(var(--wide-navbar-height) + (var(--hero-title-min-height) / 2));
    left: 50%;
    will-change: transform;
    transform: translateX(-50%);
  }

  .lune-hero-image {
    margin-top: 0;
  }

  .lune-product-title {
    display: flex;
  }

  .lune-product-title span:last-of-type {
    z-index: var(--z1);
  }

}


/* //////////////////////////////////////////////////////
   INTRO AND SPECS
///////////////////////////////////////////////////////*/

.lune-product-section-title {
  font-weight: var(--font-weight-heavy);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-3);
}

.lune-product-body {
  letter-spacing: var(--letter-spacing-1);
  line-height: var(--line-height-2);
}

.lune-product-details-divider {
  flex-grow: 1;
  border-bottom: 1px dashed currentColor;
}

.lune-product-details-title,
.lune-product-details-figure,
.lune-product-details-unit {
  letter-spacing: var(--letter-spacing-3);
  font-weight: var(--font-weight-heavy);
  line-height: var(--line-height-1);
}

@media (--breakpoint-md) {
  .lune-product-details-title {
    letter-spacing: var(--letter-spacing-5);
  }

  .lune-product-details-figure,
  .lune-product-details-unit {
    letter-spacing: var(--letter-spacing-2);
  }
}


/* //////////////////////////////////////////////////////
   MATERIALS
///////////////////////////////////////////////////////*/

.product-material-name {
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-heavy);
  white-space: nowrap;
}

.lune-product-material-name-poly {
  line-height: var(--line-height-2);
  margin-bottom: -150px;
}

.lune-product-material-image-oak-1 {
  margin-top: -30px;
}

.lune-product-material-image-oak-2 {
  margin-top: -155px;
  margin-bottom: 50px;
}



.lune-product-hotspot {
  border-radius: 50%;
  width: 4.375rem; /* 70px */
  height: 4.375rem; /* 70px */
  min-width: 0;
  text-indent: var(--letter-spacing-3);
  border: 0;
  backface-visibility: hidden;
  padding: 0;
}

.lune-product-hotspot-oak {
  top: 53%;
  left: 38%;
}

.lune-product-hotspot-poly {
  top: 32%;
  left: 56%;
}

@media (--breakpoint-sm) {
  .lune-product-material-name-poly {
    letter-spacing: .4em;
  }

  .lune-product-material-name-poly span:first-of-type {
    letter-spacing: .55em;
  }
}

@media (--breakpoint-md) {
  .product-material-name {
    margin-top: 170px;
    margin-bottom: -120px;
    text-align: center;
  }

  .lune-product-material-name-poly {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .lune-product-material-name-oak {
    letter-spacing: var(--letter-spacing-5);
  }

  .lune-product-material-image-oak-1 {
    align-self: flex-end;
  }

  .lune-product-material-image-oak-2 {
    align-self: flex-start;
  }

  .lune-product-material-image-poly {
    align-self: flex-end;
  }
}

@media (--breakpoint-lg) {
  .lune-product-material-name-poly {
    margin-top: 60px;
    margin-bottom: 130px;
  }
}


/* //////////////////////////////////////////////////////
   FOOTER
///////////////////////////////////////////////////////*/

/* Added min height to give white space for the fixed chair to show through. */
.lune-title-bottom {
  height: 100vmin;
  min-height: 15rem;
  max-height: 75vh;
  z-index: 0;
}

.lune-title-bottom .lune-product-title {
  margin: 0;
  justify-content: center;
}


.lune-products-bottom-cta {
  padding: 45px 0;
}

