@import "../page-vars";

:root {
  --hero-title-min-height: 238px;
}

.lune .lune-page--product .section--materials {
  position: relative;

  z-index: 2;
}

@media (--breakpoint-md) {
  .lune .lune-page--product section {
    min-height: calc(100vh - var(--layout-header-height-d));
  }
}

/*******************************************************************************
 * HERO
 ******************************************************************************/

.lune .product__title-1 {
  letter-spacing: .26em;
  line-height: 1.33em;
}

.lune .product__title-2 {
  line-height: 1;
}

.product__hero {
  z-index: 1;
}

.lune .hero__content {
  margin-top: calc(-(var(--layout-header-height-m) / 2));
}

.lune .hero__content h1 {
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

.lune .hero__chair {
  z-index: 2;

  max-width: 338px;
}

.lune .product-title-top {
  z-index: 1;
}

.lune .has-mobile-hyphen:after {
  content: '-';
}

.lune .product-title-bottom {
  z-index: 3;
}

.lune .hero__title-wrapper {
  margin-bottom: -1.9em;

  min-height: var(--hero-title-min-height);
}

@media (--breakpoint-mt) {
  .lune .hero__content h1 {
    display: inline;

    padding: 0;
  }

  .lune .hero__title-wrapper {
    display: flex;
  }

  .lune .hero__chair {
    margin-top: -0.5em;
  }

  .lune .has-mobile-hyphen:after {
    content: none;
  }
}

@media (--breakpoint-mt) {
  .lune .hero__title-wrapper {
    margin-bottom: -1em;
  }
}

@media (--breakpoint-md) {
  .lune .hero__chair {
    margin-top: 0;

  }

  .lune-page--product:target .hero__image-wrapper {
    position: fixed;

    top: calc(var(--layout-header-height-d) + (var(--hero-title-min-height) / 2));

    z-index: 3;

    width: 100%;
  }
}


/*******************************************************************************
 * Intro & Specs
 ******************************************************************************/
.product__specs-title,
.product__specs-figure,
.product__specs-unit {
  font-size: 14px;
  font-weight: var(--font-weight-black);
  letter-spacing: 0.26em;
}

@media (--breakpoint-md) {
  .product__specs-title {
    font-size: 22px;
    letter-spacing: .56em;
    line-height: 1em;
  }

  .product__specs-figure {
    font-size: 32px;
    letter-spacing: .1em;
    line-height: .5em;
  }

  .product__specs-unit {
    font-size: 22px;
    letter-spacing: .1em;
    line-height: 1em;
  }

  .product__details li {
    padding: 32px 0;
  }
}

.product__details .divider {
  flex-grow: 1;

  border-bottom: 1px solid currentColor;
}

@media (--breakpoint-md) {
  .section--intro {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    min-height: 100vh;
  }

  .intro__wrapper {
    width: 300px;
  }

  .product__details .divider {
    border-bottom-style: dashed;
  }
}


/*******************************************************************************
 * Materials
 ******************************************************************************/

.section--materials {
  background: inherit;
}

.product__materials__title {
  z-index: 1;

  margin: 0 0 0 30px;

  white-space: nowrap;
}

.product__materials__title--split span {
  display: block;
}

.product__materials__img--1 {
  margin-top: -30px;
}

.product__materials__img--2 {
  margin-top: -155px;
  margin-bottom: 50px;
}

.product__materials__img--3 {
  margin-top: -100px;
}

@media (--breakpoint-mt) {
  .section--materials .product__title-2 {
    display: none;
  }

  .product__materials__title {
    margin-top: 170px;
    margin-bottom: -120px;

    letter-spacing: .56em;

    text-align: center;
  }

  .product__materials--poly .product__materials__title {
    text-align: left;

    font-size: 57px;
    line-height: 1.75em;

    margin-bottom: 200px;
  }

  .product__materials__img--1 {
    align-self: flex-end;

    width: 45%;
  }

  .product__materials__img--2 {
    align-self: flex-start;

    width: 45%;
  }

  .product__materials__img--3 {
    align-self: flex-end;

    width: 50%;

    margin-top: 0;
  }
}

@media (--breakpoint-lg) {
  .product__materials--poly .product__materials__title {
    font-size: 70px;
    letter-spacing: .67em;
  }
}

@media (--breakpoint-vld) {
  .product__materials--poly .product__materials__title {
    font-size: 90px;
  }
}


.lune .product__more-hotspot {
  width: 82px;
  height: 82px;

  font-size: var(--hotspot-font-size);
  letter-spacing: var(--hotspot-letter-spacing);

  border-radius: 50%;

  color: var(--color-light-1);

  background: var(--color-bg-dark-m);

  cursor: pointer;
}

.lune .product__more-hotspot:hover,
.lune .product__more-hotspot:focus {
  color: var(--color-dark-grey);

  background: var(--color-light-1);
}

.lune-theme--dark .product__more-hotspot {
  color: var(--color-bg-dark-m);

  background: var(--color-light-1);
}

.lune-theme--dark .product__more-hotspot:hover,
.lune-theme--dark .product__more-hotspot:focus {
  color: var(--color-light-1);

  background: var(--color-dark-grey);
}

.product__more-hotspot--1 {
  top: 53%;
  left: 23%;
}

.product__more-hotspot--2 {
  top: 42%;
  left: 36%;
}

.products__bottom-cta {
  position: relative;
  z-index: 2;

  background: inherit;
}

@media (--breakpoint-md) {
  .products__bottom-cta {
    padding: 60px 0;
  }
}
