/* //////////////////////////////////////////////////////
   STORE
///////////////////////////////////////////////////////*/

:root {
  --lune-store-left-col-width-wide: 17.5rem;
}

/*******************************************************************************
 * Layout
 ******************************************************************************/
.lune-store-wrapper {
  min-height: calc(100vh - var(--navbar-height));
  padding-bottom: var(--navbar-height);
  max-width: 36rem; /* 576px */
}

.lune-store-title {
  letter-spacing: var(--letter-spacing-3);
  font-weight: var(--font-weight-heavy);
}

.lune-store-subtitle {
  letter-spacing: var(--letter-spacing-4);
  font-weight: var(--font-weight-heavy);
  /* The text-indent makes sure that the subtitle is perfectly aligned with the rest of the content whatever the font-size is*/
  text-indent: -0.06em;
  /* Collapsed line-height to achieve the vertical text-alignment required by the design  */
  line-height: 0;
}

.lune-store-image-wrapper {
  width: calc(100% - 5rem);
  min-width: 15.625rem; /* 250px */
}

/* Given the proportions of the image, a width of 39rem would make the image 350px height (as per design) */
.lune-store-image {
  width: 39rem; /* 624px */
}

.lune-store-address {
  font-weight: var(--font-weight-heavy);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-2);
  font-style: normal;
}

.lune-store-body {
  line-height: var(--line-height-3);
}

.lune-store-body-wrapper .ampstart-btn {
  max-width: 13.75rem; /* 220px */
}

@media (--breakpoint-mt) {
  .lune-store-wrapper {
    min-height: calc(100vh - var(--wide-navbar-height));
    padding-bottom: var(--wide-navbar-height);
  }
}

/* The padding on the bottom of the wrapper is used to center the content with
   the navbar taken into account. This extra padding can cause scrollbars on screens
   less that 800px high. In this case the padding is not needed, so remove it.
*/
@media (max-height: 800px) {
  .lune-store-wrapper {
    padding-bottom: 0;
  }
}

@media (--breakpoint-md) {
  .lune-store-wrapper {
    max-width: 70rem;
  }
}

@media (--breakpoint-lg) {
  .lune-store-subtitle,
  .lune-store-address-wrapper {
    width: var(--lune-store-left-col-width-wide);
  }

  .lune-store-image-wrapper,
  .lune-store-body-wrapper {
    width: calc(100% - var(--lune-store-left-col-width-wide));
  }

  /* A negative order makes sure that this occupies the first slot */
  .lune-store-subtitle {
    order: -1;
    align-self: flex-end;
  }

  .lune-store-image {
    width: 100%;
    min-width: 36rem;
  }

  .lune-store-address {
    line-height: var(--line-height-3);
  }

  .lune-store-body-wrapper .ampstart-btn {
    align-self: flex-start;
  }
}

/*******************************************************************************
 * Tweaking the delay for the entering animations defined in _pages.css
 ******************************************************************************/
.lune-store-subtitle {
  animation-delay: calc(var(--animation-delay-start) + var(--animation-delay-step));
}

.lune-store-address-wrapper {
  animation-delay: calc(var(--animation-delay-start) + 2 * var(--animation-delay-step));
}

.lune-store-body {
  animation-delay: calc(var(--animation-delay-start) + 3 * var(--animation-delay-step));
}

.lune-store-body-wrapper .ampstart-btn {
  animation-delay: calc(var(--animation-delay-start) + 4 * var(--animation-delay-step));
}
