@import "page-vars";

/* Show / hide pages based on URL Fragment.
  Home (default) is a special case for when there is no fragment defined. */
.lune-page {
  z-index: var(--z1);

  /* By default a page is hidden. */
  /*display: none;*/
  height: 0;
  overflow: hidden;
  opacity: 0;


}

.lune-page .lune-page__wrapper {
  margin: 0 auto;
}



/* The home page needs to be hidden if another page or another overlay are the :target */
.lune-page:target ~ .lune-page--default,
.lune-overlay:target ~ .lune-page--default {
  /*display: none;*/
  height: 0;
  overflow: hidden;
  opacity: 0;

  min-height: 0;
  padding: 0;
}

/* A page is shown when it's the :target
   The home page can be shown even when it's not the :target (e.g. URL=`/`) */
.lune-page--default,
.lune-page:target,
/* Ad-hoc rules to keep a page visible when an associated overlay is the :target
   Associated overlays' ids share the same prefix as the pages they are associated to.
   e.g page: id="blanc" --- overlay: id="blanc-specs" */
.lune-overlay[id^="home"]:target ~ .lune-page[id="home"],
.lune-overlay[id^="blanc"]:target ~ .lune-page[id="blanc"],
.lune-overlay[id^="noir"]:target ~ .lune-page[id="noir"],
.lune-overlay[id^="store"]:target ~ .lune-page[id="store"] {
  display: block;
  height: auto;
  opacity: 1;

  min-height: 100vh;

  padding-top: var(--layout-header-height-m);

  animation: page-animation-in .6s .2s forwards;
}

@media (--breakpoint-mt) {
  .lune-page--default,
  .lune-page:target,
  .lune-overlay[id^="home"]:target ~ .lune-page[id="home"],
  .lune-overlay[id^="blanc"]:target ~ .lune-page[id="blanc"],
  .lune-overlay[id^="noir"]:target ~ .lune-page[id="noir"],
  .lune-overlay[id^="store"]:target ~ .lune-page[id="store"] {
    padding-top: var(--layout-header-height-d);
  }
}

@keyframes page-animation-in {
  from {
    opacity: 0;

    transform: translateY(10px);
  }

  to {
    opacity: 1;

    transform: none;
  }
}