{{#hero}}
<section class="commerce-hero-content-wrapper center">
  {{#images}}
    {{#image}}
      <amp-img src="{{url}}" width="{{width}}" height="{{height}}" layout="responsive" media="{{media}}" alt="{{alt}}"></amp-img>
    {{/image}}
  {{/images}}
  <div class="commerce-hero-content commerce-hero-content-theme-{{text-theme}} flex justify-center flex-column">
    <div>
      <h2 class="commerce-hero-content-title h3 caps">{{title}}</h2>
      <p class="commerce-hero-content-body">{{body}}</p>
      {{#link}}
        <a href="{{url}}" class="ampstart-btn ampstart-btn-secondary caps">{{text}}</a>
      {{/link}}
    </div>
  </div>
</section>
{{/hero}}
