{{#material}}

  <main role="main" class="lune-overlay">

    {{#hero}}
      <header class="lune-overlay-hero relative flex items-center justify-center overflow-hidden mx2 mt2 sm-m0">

        {{#image}}
          <figure class="lune-overlay-hero-image absolute left-0 m0 col-12">

            {{#mobile}}
              <!-- Mobile -->
              <!-- WebP -->
              <amp-img
                alt="{{title}}"
                srcset="{{webp_srcset}}"
                layout="responsive"
                width="{{width}}"
                height="{{height}}"
                media="(max-width: 719px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img
                  fallback
                  alt="{{title}}"
                  srcset="{{fallback_srcset}}"
                  layout="responsive"
                  width="{{width}}"
                  height="{{height}}"></amp-img>
              </amp-img>
            {{/mobile}}

            {{#desktop}}
              <!-- Desktop -->
              <!-- WebP -->
              <amp-img
                alt="{{title}}"
                srcset="{{webp_srcset}}"
                layout="responsive"
                width="{{width}}"
                height="{{height}}"
                media="(min-width: 720px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img
                  fallback
                  alt="{{title}}"
                  srcset="{{fallback_srcset}}"
                  layout="responsive"
                  width="{{width}}"
                  height="{{height}}"></amp-img>
              </amp-img>
            {{/desktop}}
          </figure>
        {{/image}}

        <div class="relative z1 center">
          <h1 class="lune-overlay-hero-title h3 md-h0 mb4 mx-auto col-10 caps lune-anim-move-up">{{title}}</h1>

          <!-- Meet the makers CTA -->
          {{> ../components/cta.snip.html}}
        </div>

        <!-- Scroll indicator -->
        {{> ../components/scroll-indicator.snip.html}}
      </header>
    {{/hero}}

    {{#top-section}}
      <section class="lune-overlay-content relative col-12 mx-auto flex flex-column p2 md-p0">
        <div class="col-1 flex-none xs-hide sm-hide"></div>
        {{#image}}
          <figure class="relative col-12 md-col-5 flex-none m0">
            {{#mobile}}
              <!-- Mobile -->
              <!-- WebP -->
              <amp-img
                alt="{{alt}}"
                srcset="{{webp_srcset}}"
                layout="responsive"
                width="{{width}}"
                height="{{height}}"
                media="(max-width: 719px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img
                  fallback
                  alt="{{alt}}"
                  srcset="{{fallback_srcset}}"
                  layout="responsive"
                  width="{{width}}"
                  height="{{height}}"></amp-img>
              </amp-img>
            {{/mobile}}

            {{#desktop}}
              <!-- Desktop -->
              <!-- WebP -->
              <amp-img
                alt="{{alt}}"
                srcset="{{webp_srcset}}"
                layout="responsive"
                width="{{width}}"
                height="{{height}}"
                media="(min-width: 720px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img
                  fallback
                  alt="{{alt}}"
                  srcset="{{fallback_srcset}}"
                  layout="responsive"
                  width="{{width}}"
                  height="{{height}}"></amp-img>
              </amp-img>
            {{/desktop}}
          </figure>
        {{/image}}
        <div class="col-1 flex-none xs-hide sm-hide"></div>
        <div class="lune-overlay-copy relative col-12 md-col-4 z1">
          {{#title}}
            <h2 class="lune-overlay-copy-title h3 lg-h2 caps mb3" aria-label="{{full_title}}">
              {{#parts}}
                <span class="{{classes}}">{{text}}</span>
              {{/parts}}
            </h2>
          {{/title}}
          {{#subtitle}}
            <h3 class="lune-overlay-copy-subtitle h4 mb2 caps md-hide lg-hide">{{.}}</h3>
          {{/subtitle}}
          {{#body}}
            <p class="mb2">{{.}}</p>
          {{/body}}
        </div>

        <div class="col-1 lg-col-2 flex-none xs-hide sm-hide"></div>

      </section>
    {{/top-section}}

    {{#bottom-section}}

      <section class="lune-overlay-content relative col-12 mx-auto flex flex-column p2 md-p0 mb4">
        <div class="col-2 lg-col-3 flex-none xs-hide sm-hide"></div>

        {{#image}}
          <figure class="lune-overlay-content-image relative col-12 md-col-5 flex-none m0">
            <!-- Mobile -->
            <!-- WebP -->
            {{#mobile}}
              <amp-img
                alt="{{alt}}"
                srcset="{{webp_srcset}}"
                layout="responsive"
                width="{{width}}"
                height="{{height}}"
                media="(max-width: 719px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img
                  fallback
                  alt="{{alt}}"
                  srcset="{{fallback_srcset}}"
                  layout="responsive"
                  width="{{width}}"
                  height="{{height}}"></amp-img>
              </amp-img>
            {{/mobile}}

            {{#desktop}}
              <!-- Desktop -->
              <!-- WebP -->
              <amp-img
                alt="{{alt}}"
                srcset="{{webp_srcset}}"
                layout="responsive"
                width="{{width}}"
                height="{{height}}"
                media="(min-width: 720px)">
                <!-- Fallback when WebP is not supported -->
                <amp-img
                  fallback
                  alt="{{alt}}"
                  srcset="{{fallback_srcset}}"
                  layout="responsive"
                  width="{{width}}"
                  height="{{height}}"></amp-img>
              </amp-img>
            {{/desktop}}
          </figure>
        {{/image}}

        <div class="lune-overlay-copy relative col-12 md-col-4 lg-col-3 mt2 z1">
          {{#body}}
            <p class="mb2">{{.}}</p>
          {{/body}}

          <div class="flex justify-center">
            {{> ../components/cta.snip.html}}
          </div>
        </div>
        <div class="col-1 flex-none xs-hide sm-hide"></div>

      </section>


    {{/bottom-section}}



  </main>

{{/material}}