{{#product}}
  <main role="main" class="lune-page lune-page-product md-col-9 mx-auto">
    <!-- Scroll indicator -->
    {{> ../components/scroll-indicator.snip.html}}
    <!-- This div is used to hide the scroll indicator when scrolling past the first viewport -->
    <div class="lune-background absolute right-0 bottom-0 left-0"></div>
      {{#hero}}
        <header class="lune-product-section lune-product-section-hero relative z1 flex">
          <div class="lune-hero-content col-12 md-mt0 flex flex-column items-center justify-center">
            {{> ../components/product-title.snip.html}}

            {{#image}}
              <figure class="lune-hero-image-wrapper z3 flex justify-center col-12 m0">
                <!-- WebP image -->
                <amp-img
                  class="lune-anim-scale-up lune-hero-image z2 col-7 md-mt0"
                  alt="{{alt}}"
                  srcset="{{webp_srcset}}"
                  width="{{width}}"
                  height="{{height}}"
                  layout="responsive">
                    <!-- PNG Fallback when WebP is not supported -->
                    <amp-img
                      fallback
                      class="lune-anim-scale-up"
                      alt="{{alt}}"
                      srcset="{{fallback_srcset}}"
                      width="{{width}}"
                      height="{{height}}"
                      layout="responsive">
                    </amp-img>
                </amp-img>
              </figure>
            {{/image}}
          </div>

          <!-- Chapter indicators -->
          {{> ../components/chapter.snip.html}}
        </header>
      {{/hero}}

      {{#intro}}
        <section class="lune-product-section lune-product-section-intro relative flex flex-column items-end justify-center p3 z2">
          <div class="col-12 md-col-5 lg-col-4">
            <h2 class="lune-product-section-title mb2 caps h4 md-h0">{{title}}</h2>

            {{#product-desc}}
              <p class="lune-product-body h5 mb2">{{.}}</p>
            {{/product-desc}}

            {{#product-desc-extra}}
              <!-- Wrapper div needed here so md-hide and lg-hide can take effect.
                   amp-accordion has display: block !important and overrides hide styles -->
              <div class="md-hide lg-hide">
                <amp-accordion disable-session-states class="md-hide lg-hide">
                  <section>
                    <h4 class="border-none"><span class="show-more h5 bold">{{more}}</span> <span class="show-less h5 bold">{{less}}</span></h4>
                    <p class="lune-product-body h5 mb2">{{text}}</p>
                  </section>
                </amp-accordion>
              </div>

              <p class="xs-hide sm-hide lune-product-body h5 mb2">{{text}}</p>
            {{/product-desc-extra}}

          </div>

          <!-- Chapter indicators -->
          {{> ../components/chapter.snip.html}}

        </section>

      {{/intro}}

      {{#specs}}
        <section class="lune-product-section relative flex flex-column justify-center p3">
          <h2 class="lune-product-section-title caps h4 mb2 flex items-center lune-line-after md-hide lg-hide">{{title}}</h2>

          <p class="lune-product-body h5 mb4 md-hide lg-hide">{{body}}</p>

          <ul class="p0 m0">
            {{#details}}
              <li class="flex items-end pb3 md-py2">
                <span class="lune-product-details-title h6 md-h4 caps">{{title}}</span>
                <div class="lune-product-details-divider mx1"></div>
                <span class="lune-product-details-figure h6 md-h3 caps">{{value}}</span>
                <span class="lune-product-details-unit h6 md-h4 caps">{{unit}}</span>
              </li>
            {{/details}}
          </ul>

          <!-- Chapter indicators -->
          {{> ../components/chapter.snip.html}}
        </section>
      {{/specs}}

      {{#materials}}
        <section class="relative p3 z1 lune-section-materials">
          <h2 class="lune-product-section-title caps h4 mb2 flex items-center lune-line-after md-hide lg-hide">{{title}}</h2>

          {{#list}}

            <div class="flex flex-column {{classes}}">
              {{#title_parts}}
                <h3 class="product-material-name relative caps z2 sm-hide md-hide lg-hide {{title_classes}}">
                  {{#mobile}}
                    <span class="block">{{.}}</span>
                  {{/mobile}}
                </h3>

                <h3 class="product-material-name relative caps z2 xs-hide {{title_classes}}">
                  {{#desktop}}
                    <span class="block">{{.}}</span>
                  {{/desktop}}
                </h3>
              {{/title_parts}}
              {{^title_parts}}
                <h3 class="product-material-name relative caps z2 {{title_classes}}">{{title}}</h3>
              {{/title_parts}}

              {{#images}}

                <figure class="relative {{classes}} m0">
                  <!-- WebP image -->
                  <amp-img
                    {{#id}}id="{{.}}"{{/id}}
                    alt="{{alt}}"
                    srcset="{{webp_srcset}}"
                    width="{{width}}"
                    height="{{height}}"
                    layout="responsive">
                      <!-- PNG Fallback when WebP is not supported -->
                      <amp-img
                        fallback
                        alt="{{alt}}"
                        srcset="{{fallback_srcset}}"
                        width="{{width}}"
                        height="{{height}}"
                        layout="responsive">
                      </amp-img>
                  </amp-img>

                  {{#hotspots}}
                    <a href="{{url}}" class="lune-product-hotspot ampstart-btn ampstart-btn-secondary absolute z1 inline-block flex items-center justify-center center overflow-hidden caps h7 {{classes}}">
                      <span class="relative block z3">{{text}}</span>
                    </a>
                  {{/hotspots}}
                </figure>

              {{/images}}

            </div>

          {{/list}}

          <!-- Chapter indicators -->
          {{> ../components/chapter.snip.html}}

        </section>

      {{/materials}}

      <div class="lune-title-bottom relative xs-hide sm-hide">
        {{> ../components/product-title.snip.html}}
      </div>

      <div class="lune-products-bottom-cta relative z1 flex justify-center">
        {{> ../components/cta.snip.html}}
      </div>

  </main>

  {{> ../components/product-toggle.snip.html }}

{{/product}}
